body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #140c40;
    color:#e9ccf6;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(-130deg,#191a6f,#a79daa);
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dbc397;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#weatherData {
    text-align: center;
}
